/* Importing the IM Fell French Canon Google Font */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');


#showcase {
    /* bgi */
    /* background-image: url("Images/header.jpg"); */
    background-image: url("Images/thegirlss.png");
    height: 95vh;

    /* bgs */
    background-size: cover;
    /* bgp */
    background-position: center;
}

/* Media Queries */
